doctype html
html
  head
    style
      include ../static/style.css
  body
    nav#navbar
      ul
        div#logo
          img(src="/static/logo.png", alt="")
          | SDA

        li #[a(href = "/") Home]
        li #[a(href = "/") About]
        li #[a(href = "/") Services]
        li #[a(href = "/contact") Contact us ]


    .container

      form(action='/contact' method="post")
        label(for='fname') First Name
        input#fname(type='text' name='firstname' placeholder='Your name..')
        label(for='lname') Last Name
        input#lname(type='text' name='lastname' placeholder='Your last name..')
        label(for='country') Country
        select#country(name='country')
          option(value='australia') Australia
          option(value='canada') Canada
          option(value='usa') USA
          option(value="ind") IND
        label(for='subject') Subject
        textarea#subject(name='subject' placeholder='Write something..' style='height:200px')
        input(type='submit' value='Submit')

        